.bao .header {
    background-color: white;
    position: relative;
    margin-top: 65px;
}

.a {
    width: 150px;
}

.bao nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    background-color: rgb(67, 135, 170);
    margin-top: -65px;
}

.a {
    width: 240px;
}

.bao nav ul li:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

.bao nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.bao nav ul li {
    display: inline-block;
    list-style: none;
}

.bao nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: rgb(67, 135, 170);
    text-align: center;
    padding-top: 10px;
}

nav ul li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 180px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

nav ul ul a {
    display: block;
    line-height: 30px;
    color: rgb(67, 135, 170);
    text-decoration: none;
    font-size: large;
    padding: 0 auto;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li:hover {
    background-color: lightskyblue;
    color: black;
    width: 180px;
    border-radius: 3px;
}

nav .v {
    margin-top: 20px;
    margin-left: 450px;
}

nav .v button {
    background-color: lightskyblue;
}

footer {
    background-color: rgb(67, 135, 170);
    display: flex;
    justify-content: space-around;
}

.bao .header img {
    width: 100%;
    height: 500px;
}

.e {
    color: white;
}

.bao aside {
    float: left;
}

.a2 {
    width: 140px;
    height: 150px;
}

p {
    text-align: justify;
}

.n {
    width: 28px;
}

.s1 {
    z-index: 3;
}

article {
    padding-top: 50px;
    height: 600px;
    background-color: rgb(201, 212, 223);
}

.s {
    width: 700px;
    background-color: white;
    margin-left: 27%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-radius: 10px;
    height: 450px;
}

.s h2 {
    text-align: center;
}

.dau {
    display: flex;
    align-items: center;
}

.dau .s1 {
    padding-right: 250px;
}

.dau .s2 {
    padding-right: 220px;
}

.h img {
    width: 100px;
}

.h {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h input {
    height: 20px;
    width: 40px;
}

.h button {
    height: 20px;
    width: 40px;
}

.r {
    display: flex;
    align-items: center;
}

.r h3 {
    padding-left: 50px;
}

.h .r1 {
    margin-right: 60px;
}

.h .r1 button {
    margin-right: -10px;
    height: 25px;
    margin-left: 30px;
    background-color: red;
    color: white;
}

.h #a {
    margin-right: 100px;
}

.l {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

.l input {
    width: 100px;
    height: 20px;
}

.l h2 {
    padding-right: 20px;
}

.s button {
    background-color: lightskyblue;
    height: 35px;
    border-radius: 5px;
}